<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/articles" method="post">
      <input type="text" name="title" value="">
      <input type="text" name="content" value="">
      <input type="submit">
    </form>
  </body>
</html>
