
<form action="/articles" method="post">
  <ul>
      <label for="title">Title</label>
      <input id="title" type="text" name="title" />
      <label for="content">Content</label>
      <input id="content" type="text" name="content">
      </textarea>
  </ul>
  <input type="submit" />
</form>