<form class="" action="/articles" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" value="">
  <label for="content"></label>
  <input type="textarea" name="content" value="">
  <input type="submit" name="submit" value="submit" id="Submit">
</form>
