<form method="POST" action="/articles">
	<label for="title">Title of Article: </label><br>
	<input type="text" id="title" name="title"><br>
	<label for="content">Content: </label><br>
	<textarea type="text" id="content" name="content"></textarea><br>
	<input type="submit" id="submit">
</form>